<!----ul >
  <li *ngFor="let student of students">
    <span class="badge">{{student.rollno}}</span>
    <span class="badge">{{student.name}}</span>
    <span class="badge">{{student.gender}}</span>
    <span class="badge">{{student.mobile}} </span>
  </li>
</ul-->

<div class="container">
  <h2>Students</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>RollNo</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students;let i = index" >
        <td>{{student.rollno}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.mobile}}</td>
        <td><button (click)="onSelect(student)" >Edit</button></td>
        <td><button  (click)="delete(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedStudent">

  <div class="from-group">
      <div class="row">
    <label class="col-sm-2 control-label"><div><span>RollNo:</span>{{selectedStudent.rollno}}</div></label>
    <label class="col-sm-2 control-label"><span>Name:</span></label>
    <div class="col-md-2">
        <input [(ngModel)]= "selectedStudent.name" type="text" placeholder="name">
    </div>
    <label class="col-sm-2 control-label"><span>Mobile:</span></label>
    <div class="col-md-2">
      <input [(ngModel)]= "selectedStudent.mobile" type="text" placeholder="name">
  </div>
    <div class="col-md-1">
      <button (click)="update()" class="close" aria-label="Close">  <span aria-hidden="true">&times;</span></button>
    </div>
    </div>
  </div>



</div>
